!!!
html
  include layout/header
  script(src='/jquerys.js')
  script(src='/jquerysf.js')
  script(src='/foo.js')
  body
    p.header
    p.test
    - var s = 'world'
    p.banner #{s}
    div#t1
    #t2
    p helfssasdfasdfasdlo #{s}
    p= 'hello' + s