doctype html
html(lang="zh-cn")
  include layout/header
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a(href="#").navbar-brand projectName
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            - var lists = ["Home", "User", "Options"]
              each item in lists
                li
                  a(href="#")= item
    div.container
      .jumbotron
        h1 --
        .inputPanel
          .title 请输入：
          //input.ableDiv#ableDiv(type="text")
          .ableDiv#ableDiv(contentEditable=true)
          .choosed
