@import "includes/settings";
@import "includes/_base";

* {
  box-sizing: border-box;
}

a {
  color: #428bca;
  text-decoration: none;
}

body{
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar{
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}

.navbar-fixed-top{
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}


.navbar-header{
  margin-right: 0;
  margin-left: 0;
  float: left;
}

.navbar-brand {
  margin-left: -15px;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  color: #777;
  line-height: 20px;
  :hover {
    color: #fff;
  }
}

.content-navigation {
  border-color: $blue;
  color:
    darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  color : red;
  border-color: $blue;
}